.main-section{
	padding-top: 20px;
}
.logo{
	padding: 10px;
}
.s-img{
	width: 100%;
}
.uk{
	display: flex;
	align-items: center;
	padding: 10px;
}
.hom-img{
	height: 50px;
	width: 50px;
}
.uk .hom-ta{
	font-size: 16px;
    margin-left: 10px;
    color: black;
}
.uk .icon{
	font-size: 16px;
	color: black;
}


.cont-m{
	max-height: 100vh;
	overflow: scroll;
}
.up{
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.up-img{
	border-radius: 50%;
	align-items: center;
	width: 100%;
}
.up-line{
	margin: 0px;
	text-align: center;
}
.dp-icon{
	width: 100px;
	padding: 0 10px;
}

.do{
	background-color: darkred;
}



.cont-e{
}

.why{
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
	

.why .es{
	font-size: 11px;
	display: flex;
	gap: 10px;
}
.es-te h6{
	margin: 0;
}
.es-img{
	width: 100%;
	height: 40px;
	border-radius: 50%;
}
.amb{
	font-size: 2em;
    padding-left: 10px;
	

}
.ambk{
}

.es-te{
	text-align: center;
	align-items: center;
}
.ee{
	font-size: 12px;
	color: blue;
}
.post{
  width: 80%;
  position: relative;
  margin: 30px auto;
  /* margin-top: 20px; */
  margin-bottom: 24px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 14px;
}
.profile-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-img{
  width: 100%;
  border-radius: 14px;
}
.user{
  display: flex;
  gap: 10px;
  align-items: center;
}
.username{
  margin: 0;
}
.user-id{
  margin: 0;
  font-size: 14px;
  color: rgb(58, 55, 55);
}
.header-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
